<h1 mat-dialog-title>Añadir Producto</h1>
<div mat-dialog-content>
    <mat-form-field appearance="outline">
        <mat-label>nombre del Producto</mat-label>
        <input matInput placeholder="Placeholder">
      </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>tipo de pago</mat-label>
        <input matInput placeholder="Placeholder">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>tipo de pago</mat-label>
        <input matInput placeholder="Placeholder">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>precio del producto</mat-label>
        <mat-select placeholder="Categoria">
            <mat-option value="Baja Calidad">producto 1</mat-option>
            <mat-option value="Media Calidad">producto 2</mat-option>
            <mat-option value="alta Calidad">producto 3</mat-option>
            <mat-option value="Media Calidad">producto 4</mat-option>

           
</mat-select>
      </mat-form-field>
</div>