
    <section class="u-section-7">
      <div class="u-sheet-1">
        <div class="u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">

                <div class="u-container-layout col-xs-8 col-sm-6 col-md-3">
                  <h2 class="u-text-1"> Combinaciones de diceño de paredes </h2>
                  <img class="u-expanded-width u-image-1" src="../../../../assets/img/213.jpg">
                </div>

                <div class="u-container-layout col-xs-8 col-sm-6 col-md-3">
                  <img class="u-image-2" src="../../../../assets/img/1111.jpg">
                </div>

                <div class="u-container-layout col-xs-8 col-sm-6 col-md-3">
                  <img class="u-image-3" src="../../../../assets/img/22.jpg">
                  <p class="u-text-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia nesciunt odio culpa ullam veritatis quam vitae pariatur alias, eveniet, velit qui illum eius recusandae voluptate similique, facere harum voluptates aut rerum vero eaque? Ducimus voluptates accusamus nemo ipsa ab recusandae.Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat repellat cupiditate commodi natus qui laboriosam autem cumque ratione quaerat harum ut, laborum consequatur, praesentium quod. Veniam, error perspiciatis ratione, hic minima saepe autem cumque modi eum numquam nemo totam. Corpori.</p>
                </div>

            </div>
          </div>
        </div>
      </div>
    </section>
