<footer>
  <!--<div class="redes">
      <a href=#>
          <img src="../../../assets/img/facebook.png" alt="Facebook ">
      </a>
      <a href=#>
          <img src="../../../assets/img/instagram.png" alt="instagram">
      </a>
      <a href="#">
          <img src="../../../assets/img/Twitter.png" alt="Twitter">
      </a>
  </div>
  <p>Casa Diseño tu mejor opcion</p>-->
  <footer>
    <div id="footer_contacto">
        <p>
            Teléfono: +591 79306194
        </p>
        <p>
            Email: info@casacolor.org
        </p>
        <p>
            Web:CasaColor.org
        </p>           
    </div>
    <div id="footer_social">
        <a href="https://www.facebook.com/10Minds/">
            <img src="../../../assets/img/facebook.png" alt="Facebook ">
        </a>
        <a href="https://www.linkedin.com/company/67337407/">
            <img src="../../../assets/img/instagram.png" alt="Linkedin ">
        </a>
        <a href="#">
            <img src="../../../assets/img/Twitter.png" alt="Twitter ">
        </a>
    </div>
    <p class="msj">Casa Color - Todos los Derechos Reservados</p>
</footer>
</footer>
