<section class="footer">
  <div class="content-footer">
    <h4>MUEBLES DORMITORIO</h4>
    <P>Zegarra Tattoo es un estudio artístico de tatuajes y piercing en Mijas Costa,
      Málaga. Miembros de la Unión Nacional de Tatutadores y Anilladores Profesionales (UNTAP) desde hace 14 años.</P>
</div>
<div class="content-footer">
    <h4>SIGUENOS EN</h4>
    <div class="social-media">
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-whatsapp"></i>
        <i class="fab fa-snapchat-ghost"></i>
        <i class="fab fa-instagram"></i>
    </div>
</div>
<div class="content-footer">
  <h4>DATOS DE CONTACTO</h4>
  <a href="">Zona pariorko Camp. velarde s/n</a>
  <a href="">43534534</a>
  <a href="">6 835 944</a>
  <a href="">MueblesZegarra@gmail.com</a>
</div>
<div class="content-footer">
  <h4>APARTADOS WEB</h4>
  <a href="">Cuidados</a>
  <a href="">Trabajos+</a>
  <a href="">Libro de visitas</a>
  <a href="">Contactos</a>
</div>
</section>
