footer{
    background-color: #385d81;
    color: white;
    flex: 1 1 100%;
    padding:2rem;
    display: flex;
    flex-flow: row ;
}
footer>div{
    flex: 1 1 100%;
}
#footer_contacto{
    text-align: center;

}
#footer_contacto>p,.msj{
     margin: 10px;
     text-align: center;
     color:#ffffff;
     font-size: 22px;
     margin-right: 10px;
     font-style: oblique;
}

#footer_social{
   justify-content: end;
    padding: top 1rem;
}
#footer_social>a>img{
    margin-left: 20px;
    height: 50px;
    border-radius: 200%;
    box-shadow: 3px 3px 3px 3px #494746;
}