<app-header></app-header>
<div class="form_container mat-elevation-z5">
    <h1>Crear Cuenta</h1>
    <form [formGroup]="signUpForm" (ngSubmit)="submit()">
        <mat-form-field>
            <input matInput placeholder="Nombre" formControlName="name">
                <mat-error *ngIf="name?.errors?.['required']">
                    Nombre requerido
                </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Correo electronico" formControlName="email">
                <mat-error *ngIf="email?.errors?.['required']">
                    Email requerido
                </mat-error>
                <mat-error *ngIf="email?.errors?.['email']">
                    Porfavor introduzca un email valido
                </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Contraseña" formControlName="password" type="password">
                <mat-error *ngIf="password?.errors?.['required']">
                    Contraseña requerida
                </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Confirmar Contraseña" formControlName="confirmPassword" type="password">
                <mat-error *ngIf="confirmPassword?.errors?.['required']">
                    Confirmar la contraseña es requerido
                </mat-error>
        </mat-form-field>

        <mat-error *ngIf="signUpForm.errors?.['passwordDontMatch']">
            No coinciden las contraseñas
        </mat-error>

        <div class="center margin-top">
            <button mat-raised-button color="primary" type="submit">
                Registrar
            </button>
        </div>
    </form>
</div>