@font-face{
    font-family: 'open-sans';
    src: url("../../../assets/fonts/roboto/Roboto-Thin.ttf");
}
header{
    margin:0px;
    padding: 0px; 
    background-color: #5b828e;
    flex:1 1 100%;
}
div{
    box-shadow: 35px 35px 45px #5b828e;
   align-items: center ;
}
h1{
    font-size: 50px;
    color: #fff;
}