<section class="aside">
  <div class="container">
      <div class="mt-5 p-5 anuncio rounded">
        <h1>MUEBLES DE DORMITORIO</h1>
        <p>No te conformes sólo con lo que veas en nuestra tienda, podemos crear cualquier mueble a medida, armarios, sofá, sillones, aparadores, para que se adapten mejor al espacio de tu vivienda creando la exclusividad de tener muebles únicos..</p>
      </div>
    </div>
    <div class="container nigth">
      <img src="./assets/img/login.jpg" class="rounded-circle" alt="Cinque Terre" width="304" height="236">
    </div>
</section>

<section class="movie-us">
    <div class="another-container">
        <h2 class="title">CONOCE NUESTROS SERVICIOS</h2>
        <div class="container-movies">
            <div class="movies" >
                <img src="./assets/img/mueble1.jpg">
                <h3>Camas</h3>
                <p>El dormitorio es uno de los lugares más importantes en todas las casas. Las camas aportan confort, relax, calma y descanso. Existe un binomio ideal para crear un entorno muy acogedor: camas y cabeceros forman un conjunto perfecto en este escenario.</p>
            </div>
            <div class="movies" >
                <img src="./assets/img/mueble2.jpg">
                <h3>Cabeceros de cama</h3>
                <p>¿Estás buscando una manera única y original para completar la decoración de interior de tu refugio privado? Entonces has llegado a la sección adecuada. Los cabeceros de cama son piezas fundamentales dentro de cualquier habitación</p>
            </div>
            <div class="movies" >
                <img src="./assets/img/mueble3.jpg">
                <h3>Mesitas de noche</h3>
                <p>Disponemos de una gran selección de mesitas de noche al mejor precio con las que podrás aportar un toque de frescura, modernidad y creatividad</p>
            </div>
            <div class="movies" >
                <img src="./assets/img/mueble4.jpg">
                <h3>Armarios</h3>
                <p>Contamos con soluciones modernas y originales para todos los estilos decorativos. ¿Necesitas un armario barato con puertas abatibles y cajones para la habitación de los más pequeños?</p>
            </div>
            <div class="movies" >
                <img src="./assets/img/mueble5.jpg">
                <h3>Percheros y Zapateros</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse, quia. Dolor ea deleniti adipisci maiores.</p>
            </div>
            <div class="movies" >
                <img src="./assets/img/mueble6.jpg ">
                <h3>Cajoneras y Cómodas</h3>
                <p>Las cajoneras vuelven a estar de moda. Ya sea en forma de cómoda para guardar la ropa en el dormitorio o como mueble auxiliar en el salón para mantener siempre en orden tus objetos más preciados.</p>
            </div>
        </div>
    </div>
</section>
<section class="price">
    <div class="another-container content-price">
            <div class="numbers">
              <div class="number">
                  <h4> Diseño</h4>
                  <p>Contamos con diferentes modelos de dormitorios, con una gran variedad de diseños, mobiliario y colores.</p>
              </div>
              <div class="number">
                  <h4>Asesoría</h4>
                  <p>Configurar el dormitorio es complicado: Qué medida se ajusta más, cómo distribuir la sala, qué mueble se adapta mejor a las necesidades de la familia,...</p>
              </div>
              <div class="number">
                  <h4>Decoración</h4>
                  <p>Cuando compras un dormitorio completo todos los muebles crean una composición que mantiene una decoración armoniosa en tu hogar.</p>
              </div>
              <div class="number">
                  <h4>Calidad</h4>
                  <p>te garantizamos que todos los materiales que usamos para la fabricación de los muebles son los mejores del mercado, estética y durabilidad de nuestros dormitorios está asegurada.</p>
              </div>
            </div>
            <div class="price-text">
              <h4>Los dormitorios completos son la mejor opción para tu hogar </h4><br>
              <p class="copy">El dormitorio es uno de los espacios más importantes dentro de tu hogar sea para descansar, estudiar o pasar el tiempo.
                  En Kibuc ponemos a tu alcance todos los muebles que necesitas, para tener un dormitorio perfecto para ti y tu familia. En nuestras tiendas Kibuc encontrarás colecciones de dormitorios para diseñar tu dormitorio perfecto. Estas son las ventajas de comprar una de nuestras colecciones de dormitorios que aglutinan todo:</p>
            </div>
    </div>
</section>
<section class="noticias">
  <div class="text-nigth">
    <h2 class="u-text-1">PROMOCIONES OFERTAS</h2>
  </div>
  <div class="container-movies">
    <div class="movies" >
      <h3>VUESTRAS FOTOS CON LAS CON LAS CMISETAS DE FIDO</h3>
      <P>Lorem ipsum dolor sit amet consectetur adipisicing.</P>
    </div>
    <div class="movies" >
      <h3>VUESTRAS FOTOS CON LAS CON LAS CMISETAS DE FIDO</h3>
      <P>Lorem ipsum dolor sit amet consectetur adipisicing.</P>
    </div>
    <div class="movies" >
      <h3>VUESTRAS FOTOS CON LAS CON LAS CMISETAS DE FIDO</h3>
      <P>Lorem ipsum dolor sit amet consectetur adipisicing.</P>
    </div>
  </div>
</section>
<mat-grid-list cols="2" class="color" >
  <h2 class="u-text-1">PEDIDOS DE CLIENTES</h2>
  <mat-grid-tile *ngFor="let tile of dataSource" >
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{tile.name}}</mat-card-title>
      </mat-card-header>
      <img src="./assets/img/mueble5.jpg" alt="Photo of a Shiba Inu" >
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-subtitle>{{tile.job}}</mat-card-subtitle>
        <mat-card-subtitle>{{tile.superficie}}</mat-card-subtitle>
        <mat-card-subtitle>{{tile.costo}}</mat-card-subtitle>
        <mat-card-subtitle>{{tile.envio}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
