 body{
    padding: 0%;
    margin: 0%;
    
}
#img-one{
    width: 1364px;
    height: 460px;
    object-fit: cover;
    background-attachment: fixed;
    opacity:0.7;
    
}

.mat-toolbar-row, .mat-toolbar-single-row{
    height: 100%;
    background: #9da5ee;
}
/*cuarta seccion*/
.mat-grid-list,.mat-grid-tile{
    background: #9da5ee;
    padding-left: 60px;
}

.mat-card {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding: 0px;
    border-radius: 4px;
    margin:0px;
}
#img-two{
    object-fit: cover;
    height: 673px;
    width: 675px;
    opacity: 0.9;
    border-radius: 0%;
}
.mat-card-header {
    display: flex;
    flex-direction: row;
    padding-bottom: 60px;
    margin:0px;
}
.example-header-image1,#h{
    object-fit: cover;
    height:90px;
    width: 90px;
    border-radius: 100%;
}
.mat-card-title,.mat-card-subtitle{
    padding-left: 70px;
}
/*es el card center*/

.example-card1,.mat-card[_ngcontent-ejn-c50] {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding: 0px;
    border-radius: 4px;
    margin-left: 350px;
}
.example-card1,.mat-card {
    background: #9da5ee;
    color: rgba(0, 0, 0, 0.993);
    
}
 #dec_parr{
     font-size: 15px;
     text-align: center;
     font-weight: lighter;
     padding-bottom: 40px;
     border-spacing: 0cm;
 }
/*bienvenido*/
#tittle1{
    padding-top: 40px;
    padding-left: 140px; 
    text-align: center; 
}
#tittle1,p{
    font-weight: bold;
    color:rgb(0, 0, 0);    
}
#parraf{
    font-family:Georgia;
    font-weight: lighter;
    font-size:smaller;
    color: #0b5466;
    text-align: center;
    padding-bottom: 50px;
    padding-top:-50pxmm;
    max-width: 100%;
    margin: auto;
    
}

#tittle{
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
}
#img{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin-left: 225px;
    padding-top: 20px;
}
#tittle,p{
  color:black;
  font-weight: bold;
  font-size:30px;
  font-family: bitter;
}


