 body{
    padding: 0%;
    margin: 0%;
    
}
#img-one{
    width: 1365px;
    height: 490px;
    object-fit:cover;
    background-attachment: fixed;
    
    
}
.example-card p{
    font-size: 120px;
    color: rgb(193, 231, 231);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 30px rgba(241, 241, 96, 0.8);

}
.titulo{
    margin: 110px;
    padding-right: 200px;
}
.mat-toolbar-row, .mat-toolbar-single-row{
    height: 100%;
    background: #f2f3f7;
}
/*cuarta seccion*/
.mat-grid-list,.mat-grid-tile{
    background: #fbfbff;
    padding-left: 60px;
}

.mat-card {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding: 0px;
    border-radius: 4px;
    margin:0px;
}
#img-two{
    object-fit: cover;
    height: 673px;
    width: 675px;
    opacity: 0.9;
    border-radius: 0%;
}
.mat-card-header {
    display: flex;
    flex-direction: row;
    padding-bottom: 60px;
    margin:0px;
}
.example-header-image1,#h{
    object-fit: cover;
    height:90px;
    width: 90px;
    border-radius: 100%;
}
.mat-card-title,.mat-card-subtitle{
    padding-left:70px;
}
/*es el card center*/

.example-card1,.mat-card[_ngcontent-ejn-c50] {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding: 0px;
    border-radius: 16px;
    margin-left: 350px;
}
.example-card1,.mat-card {
    background: hsl(171, 33%, 96%);
    color: rgba(0, 0, 0, 0.993);
    
}
 #dec_parr{
     font-size: 15px;
     text-align: center;
     font-weight: lighter;
     padding-bottom: 40px;
     padding-left: 10px;
     padding-right: 10px;
     border-spacing: 0cm;
     
 }
 #photo{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    align-content: center;
    text-align: center;
    margin-left: 35%;
 }
/*bienvenido*/
#tittle1{
    padding-top: 40px;
    padding-left: 140px; 
    text-align: center; 
}
#tittle1,p{
    font-weight: bold;
    color:rgb(0, 0, 0);    
}
#parraf{
    font-family:Georgia;
    font-weight: lighter;
    font-size:smaller;
    color: #0b5466;
    text-align: center;
    padding-bottom: 50px;
    padding-top:-50px;
    max-width: 100%;
    margin: auto;
    
}
#images{
    border-radius: 100%;
    object-fit:cover; 
    width: 80%;
    height: 80%;
    transition:all .1s ease-in-out;
}
#images:hover{ 
    -webkit-transform: scale(4);
    transform: scale(1.5)
    
}
h2{
    text-align: center;
    font-family:monospace;
    color: rgba(25, 36, 36, 0.329);
}

/*contactaos/......*/
#card2_title1{
    background-color: rgb(21, 82, 100);
    margin-top: 15px;
    padding: 15px;
    font-size: 20px;
    padding-left: 50%;
    text-align: center;
    color: white;
    font-weight: normal;
    text-transform: uppercase;
    
}
.example-card2{
    background-color: rgba(235, 241, 173, 0.534);
    height: 70px;
    width: 40%;
    margin-top: -80%;
}
#contac{
    margin-left: 40px;
    
}
#image_2{
    height: 60px;
    width: 60px;
    position: relative;
    align-content: center;
    margin: 10px;
    border-radius: 50%;
}
#card2_title{
    margin-top: 15px;
    font-size: 20px;
}
#number{
    margin-top: -10px;
    padding-bottom:5px;
    background-color: rgb(235, 218, 66);
    padding-left: 30px;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*dfgfbf*/
#tittle{
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
    margin: 20px; 
}
#img{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin-left: 225px;
    padding-top: 20px;
}
#tittle,p{
  color:black;
  font-weight: bold;
  font-size:30px;
  font-family: bitter;
}

table {
    width: 100%;
}

/*ofertas------------------------------------------------------------------*/
#title-offer{
   
    background-color: rgb(21, 82, 100);
    padding: 20px;
    color: white;
    text-align: center;
    font-family:'Arial Narrow';
    text-transform: uppercase;
}

.mat-grid-tile3{
margin-top: 600px;
background-color: white;
width: 100px;

 }
.example-card3{
    max-width: 280px;
    max-height: 800px;
    margin-top: -10px;
    margin-bottom: 50px;
    
}
#imgen-matcard{
    width: 80%;
    height: 10%;
    display: block;
    margin: 0px auto;
    margin-bottom: 50px;
    margin-top: -60px;
    
}
#mat-card-content-p{
  margin-top: -50px;
  background-color:white;
  font-size: 12px;
  font-family: Arial;
  font-weight: normal;
  text-align: justify;
  padding: 15px;
}
#intitle{
    font-size: 15px;
    padding-top: 30px;
    text-align: center;
    position: relative;
}
#subtitle{
 font-size: 14
 px;
    
}
h4{
    padding-left: 20px;
}
h3{
    padding-left: 35px;
    color: rgb(40, 243, 33);
    font-weight: bold;
}
#enviosp{
    color: orange;
    font-size: 15px;
    text-align: right;
    padding-right: 20px;
    margin-top: -28px;
}
/*butoon*/
mat-card-actions{
    margin-left: 70px;
    margin-top: -10px;
}
button{
   justify-content: center;
   background-color: rgb(121, 90, 90);
   height: 30px;
   text-align: center;
   color: white;
}
