<div>
    <div id="title">
        <h1 class="titulo" > 
            MACHIMBRES
        </h1>
        <h3 id="title_2">La solución a tus pisos, las encuentras aquí</h3>    
    </div>
    

    <!--Seccion 1 "bienvenida"-->
    <section class="conteiner">

        <div class="contenido">
            <!--PRIMER PARRAFO-->
            <div class="tittle__contenido">
                <h2>¿Qué es y para que se usa?</h2>
            </div>
            <div class="contenido__1">
                <p>El machimbre es un <b>sistema de ensamblaje de tablas o tablones de madera</b>, da excelentes acabados tanto en pisos como en techos. El tipo de machimbre puede variar según el material que se vaya a utilizar, la calidad del mismo y el sitio donde se quiera colocar.</p>
            </div>
            <div class="contenido__2">
                <div class="imagen">
                    <img src="../../assets/image_m/imagen2.png" alt="">
                </div>
                <div class="contenido__2-p2">  
                    <h3> Machimbre de Primera</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus saepe labore, ea, molestias architecto itaque perferendis libero aperiam vero fugit accusamus. Ipsum doloremque quo sapiente sunt sit obcaecati quibusdam culpa?
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo, dicta repudiandae harum hic deserunt doloremque architecto odit magni ab, excepturi vel vero minus soluta aut quia sit, eos totam facilis. <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas nostrum velit molestias, vel ipsam, officia magnam nulla iste veniam odit delectus esse maiores earum deleniti consequuntur, a voluptatibus! Repellendus, quisquam!
                    <br>
                    <br>
                    <h4>AGREGAR AL CARRITO <button class="boton"  color="primary" mat-raised-button mat-fab aria-label ><mat-icon class="material-icons">shopping_cart</mat-icon></button></h4>
                    
                </div>
            </div>
            <div class="contenido__3">
                <div class="imagen__3">
                    <img src="../../assets/image_m/imagen3.png" alt="">
                </div>
                <div class="contenido__3-p3">  
                    <h3> Machimbre de segunda</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus saepe labore, ea, molestias architecto itaque perferendis libero aperiam vero fugit accusamus. Ipsum doloremque quo sapiente sunt sit obcaecati quibusdam culpa?
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo, dicta repudiandae harum hic deserunt doloremque architecto odit magni ab, excepturi vel vero minus soluta aut quia sit, eos totam facilis. <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas nostrum velit molestias, vel ipsam, officia magnam nulla iste veniam odit delectus esse maiores earum deleniti consequuntur, a voluptatibus! Repellendus, quisquam!
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    </p>
                    <h4>AGREGAR AL CARRITO <button class="boton"  color="primary" mat-raised-button mat-fab aria-label ><mat-icon class="material-icons">shopping_cart</mat-icon></button></h4>
                </div>
                
            </div>
            <div class="contenido__2">
                <div class="imagen">
                    <img src="../../assets/image_m/imagen4.png" alt="">
                </div>
                <div class="contenido__2-p2">  
                    <h3> Machimbre de Tercera</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus saepe labore, ea, molestias architecto itaque perferendis libero aperiam vero fugit accusamus. Ipsum doloremque quo sapiente sunt sit obcaecati quibusdam culpa?
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo, dicta repudiandae harum hic deserunt doloremque architecto odit magni ab, excepturi vel vero minus soluta aut quia sit, eos totam facilis. <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas nostrum velit molestias, vel ipsam, officia magnam nulla iste veniam odit delectus esse maiores earum deleniti consequuntur, a voluptatibus! Repellendus, quisquam!
                    <br>
                    <br>
                    <h4>AGREGAR AL CARRITO <button class="boton"  color="primary" mat-raised-button mat-fab aria-label ><mat-icon class="material-icons">shopping_cart</mat-icon></button></h4>

                    
                    <button mat-raised-button color="warm" >ADD PRODUCT</button>
                </div>
            </div>
        </div>
    </section>

    <br>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar> 
    <br>
    

</div>
