.main-div{
    padding: 0px;
}
.login-form{
    padding: 20px;
}
.form_container{
    display: block;
    max-width: 350px;
    margin: auto;

    background: #eceff1;
    padding: 50px;
    border-radius: 16px;
}
.form_container mat-form-field{
    width: 100%;
}
.center {
    display: flex;
    justify-content: center;
}
.margin-top{
    margin-top: 16px;
    
}
.text-center{
    text-align: center;
}

.login-page{
    margin-top: 100px;
}