
<section class="u-section-5">
  <div class="u-sheet-1">
    <div class="u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-col">

            <div class=" u-container-layout-1">
              <h2 class="u-text-1">diceño para oficinas</h2>
              <p class="u-text-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae, reprehenderit enim aut fugit et error consequuntur non ipsum. Fugiat corrupti praesentium obcaecati nihil dicta vero!Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi iure autem, quisquam deserunt possimus doloribus saepe at delectus dolorum? Laborum.</p>
            </div>

            <div class="u-container-layout">
              <img class="u-expanded-height-lg u-expanded-height-xl u-image-1" src="../../../../assets/img/134.jpg">
            </div>

            <div class="u-container-layout u-valign-bottom-xs">
              <img class="u-image-2" src="../../../../assets/img/1344.jpg">
              <p class="u-text-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore magni voluptatibus iste exercitationem neque numquam ea, non saepe adipisci assumenda, sint est architecto? Minus omnis optio reprehenderit nesciunt porro recusandae modi dolores, culpa labore laborum. Culpa, beatae adipisci saepe omnis, possimus dolor temporibus accusamus officiis id error soluta enim nulla.Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nulla, facere esse blanditiis, distinctio pariatur itaque aliquam libero voluptatem aut ea, maiores natus perspiciatis temporibus possimus veritatis voluptatum. Adipisci repellendus minima reprehenderit at, harum error est deleniti, quibusdam a, dolorum cum doloremque inventore iste eaque</p>
              <a href='pared' ><h4>Read More</h4></a>
            </div>

        </div>
      </div>
    </div>
  </div>
</section>
