



<section class="u-section-2 ">
  <div class=" u-sheet-1">
    <img src="../../../../assets/img/05.jpg"  class="u-image-1">
    <div class=" u-layout-wrap-1">
        <div class="u-layout-row">
            <div class="u-container-layout u-container-layout-1 col-sm-4">
              <h1 class="u-text-1">DISEÑO PAREDES</h1>
            </div>
            <div class="u-container-layout u-container-layout-2 ">
              <div class="u-container-layout u-container-layout-2 col-sm-8 ">
              <p class="u-text-2">Muy a menudo, un solo acento convierte una casa aparentemente anodina en una cabaña moderna de moda. Las ideas de diseño de paredes de acento exterior le permiten diluir y revivir una fachada aburrida. Lo hacen rico y llamativo. Y todo debido al hecho de que gracias al acento, la casa adquiere un aspecto, una atmósfera y un estado de ánimo completamente diferentes.</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
