

.u-section-2 {
  background-image: none;
  background-color: #d9d9d9;
}

.u-section-2 .u-sheet-1 {
  min-height: 780px;
}

.u-section-2 .u-image-1 {
  width: 1050px;
  height: 480px;
  object-position: 50% 101%;
  background-position: 50% 100%;
  margin: -50px 0px auto 164px;
  margin-top: 100px;
  margin-right: auto;
  margin-bottom: initial;
}

.u-layout-row{
  display: flex;
  padding-left: 170px;
  flex-direction: row-reverse;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-1 {
  margin: -215px 77px 0;
  font-family: 'Gill Sans';
  font-size: 70px;
}


.u-section-2 .u-container-layout-2 {
  margin: -216px -196px 0;
  font-family: 'Gill Sans';
  font-size: 51px;
}

.u-section-2 .u-text-2 {
  margin: 122px 4px 0px 0;
  font-size: 24px;
  font-family: 'Gill Sans';
  padding-left: 90px;
  margin-top: 258px;
  width: 781px;
  color: #000000;
}


