



<section class="u-section-2 ">
  <div class=" u-sheet-1">
    <img src="../../../../assets/img/05.jpg"  class="u-image-1">

    <div class=" u-layout-wrap-1">

        <div class="u-layout-row">

            <div class="u-container-layout u-container-layout-1 col-sm-4">
              <h1 class="u-text-1">Diceños para Paredes&nbsp;</h1>
            </div>

            <div class="u-container-layout u-container-layout-2 ">
              <div class="u-container-layout u-container-layout-2 col-sm-8 ">
              <p class="u-text-2"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora minima distinctio delectus, vero consequuntur fugiat temporibus magni dolores, iusto laboriosam libero quaerat voluptate necessitatibus sequi.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. A molestias quos quidem consequatur commodi. Necessitatibus sit consectetur minus veritatis illo perspiciatis porro modi velit et laudantium, quidem omnis ad? Laboriosam. </p>
              <button mat-button color = "primary">
                <a href='pared' ><h1>Read More</h1></a>
              </button>
            </div>

        </div>
      </div>
    </div>
  </div>
</section>
