
.color{
  background-color: #385d81;
}
/*#4c7397*/
.example-card {
  max-width:300px;
  background-color:  #d9d9d9;
}

.bot{
  background-color: #385d81;
}

.p{
 color:  #d9d9d9;
}
h1{
  color: #d9d9d9;
  padding-left: 515px;
    padding-top: 50px;
}
