<mat-grid-list cols="3"  rowHeight="1.5:2.5"class="color">
  <h1 class="u-text-1">PEDIDOS DE CLIENTES</h1>
  <div class="card" *ngFor="let tile of dataSource" >
    <div class="face front">
      <img src="https://i.pinimg.com/originals/c2/ec/1a/c2ec1ab9f77c124754d0d3a1042dcce9.jpg" alt="">
      <mat-card-title>{{tile.name}}</mat-card-title>
    </div>
    <div class="face back">
      <mat-card-subtitle>{{tile.decor}}</mat-card-subtitle>
      <div class="linea">
        <mat-card-subtitle>{{tile.place}}</mat-card-subtitle>
      </div>
      <div class="linea">
        <mat-card-subtitle>{{tile.details}}</mat-card-subtitle>
      </div>
      <div class="linea">
        <mat-card-subtitle>{{tile.desing}} </mat-card-subtitle>
      </div>
    </div>
  </div>
</mat-grid-list>
