    <mat-grid-list cols="3"  rowHeight="1.5:2.5"class="color" >
      <h1 class="u-text-1">PEDIDOS DE CLIENTES</h1>
      <mat-grid-tile *ngFor="let tile of dataSource" >
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{tile.name}}</mat-card-title>
            <mat-card-subtitle>{{tile.decor}}</mat-card-subtitle>
            <mat-card-subtitle>{{tile.desing}}</mat-card-subtitle>
            <mat-card-subtitle>{{tile.place}}</mat-card-subtitle>
            <mat-card-subtitle>{{tile.details}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi consectetur odio, porro rerum accusamus ad at corrupti facilis dicta obcaecati quos, qui quas ex ullam debitis maxime repellat.</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button class="bot"><p class="p">LIKE</p></button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
