<div class="body3 ">

  <section class="u-section-3 ">
      <div class="u-sheet ">
        <div class="u-layout-wrap-1 ">
          <div class="u-layout-row ">

            <div class="u-container-layout col-xs-8 col-sm-6 col-md-3">
              <img class="u-expanded-width u-image u-image-1" src="../../../../assets/img/88.jpg">
              <h2 class="u-text u-text-1">Combinaciones para difrentes espacios de paredes</h2>
              <p class="u-text u-text-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore fugit ipsam nemo asperiores ullam natus veritatis, quos maxime, molestias autem eum minima! Voluptate nostrum, pariatur quo tenetur ducimus, esse totam quod, suscipit obcaecati sapiente rerum!<br></p>
            </div>


            <div class="col-xs-8 col-sm-6 col-md-3">
              <div class="u-container-layout">
                <img class="u-expanded-width u-image u-image-2" src="../../../../assets/img/1311.jpg">
              </div>
            </div>

            <div class="col-xs-8 col-sm-6 col-md-3">
              <div class="u-container-layout">
                <p class="u-text-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum debitis rem blanditiis, asperiores iure possimus soluta perspiciatis error ab assumenda pariatur necessitatibus veritatis cumque vel facere distinctio molestiae nisi! Architecto exercitationem consectetur esse modi consequatur sit laudantium? Similique, reiciendis provident natus nam quas harum eius!</p>
                <img class="u-expanded-width u-image u-image-3" src="../../../../assets/img/14.jpg">
              </div>
            </div>

          </div>
        </div>
      </div>
  </section>

</div>
