section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
 div{
     display: table-cell;
     background: rgb(164, 168, 168);
     width: 1349px;
     height: 70px;
     text-align: center;
   }

  .example-button-row .mat-button-base {
    margin: 8px 50px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  a{
      font-weight: bold;
      font-size: 15px;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }