<section>
    
    <div class="example-button-row">
      <a mat-button >Menu principal</a>
      <a mat-button color="warn">Paredes</a>
      <a mat-button color="warn">Pisos</a>
      <a mat-button color="warn">Muebles</a>
      <a mat-button color="warn">luces</a>
      <a mat-button color="warn">Contacto</a>
      
      <a mat-button href="https://www.google.com/" target="_blank">Link</a>
      <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
        <mat-icon>menu</mat-icon>
        
      </button>
    </div>
</section>